.button_play {
    border: 0;
    outline: none;
    background: inherit;
    width: 48px;
    cursor: pointer;
    padding: 0;
}
  
.button_play:hover svg circle {
    opacity: 1;
}

.button_play:hover svg path {
    fill: var(--clr-white);
}

@media (min-width:768px) {
    .button_play {
        width: 75px;
    }
}