.fonts {
    gap: 1.125rem;
}

.font-dropdown {
    position: absolute;
    z-index: 2;
    width: max-content;
    padding: 1.5rem 4rem 1.5rem 1.5rem;
    border-radius: 1rem;
    background-color: var(--clr-white);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    right: 0;
    margin-top: 1rem;
}

.font-dropdown ul {
    padding: 0;
    line-height: 1.7;
}

.font {
    cursor: pointer;
}

.font:hover {
    color: var(--clr-purple);
}

.choosed-font {
    color: var(--clr-text);
    font-weight: 700;
}

li {
    color:  var(--clr-black);
    font-weight: 700;
}