.header {
    margin-block: 1.5rem;
    justify-content: space-between;
}

.header-nav {
    gap: 2.0625rem
}

.font-family {
    gap: 1rem;
    position: relative;
}

.font-family-style {
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-image: url('./public/images/icon-arrow-down.svg');
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
    padding-right: 2rem;
    cursor: pointer;
}

.font-family::after {
    content: '';
    position: absolute;
    top: -40%;
    bottom: 0;
    right: -1rem;
    height: 2rem;
    border: 1px solid var(--clr-grey-400);
    opacity: .5;
}

@media (min-width:768px) {
    .header {
        margin-block: 3.75rem;
    }

    .header-nav {
        gap: 3.125rem
    }

    .font-family::after {
        right: -1.625rem;
    }
}