.container {
    margin-inline: 1.5rem;
    position: relative;
}

@media (min-width:768px) {
    .container {
        margin-inline: 2.5rem; 
    }
}

@media (min-width:800px) {
    .container {
        margin-inline: auto;
        max-width: 737px;
    }
}
