@font-face {
  font-family: 'Inconsolta';
  src: url('./assets/fonts/inconsolata/static/Inconsolata-Regular.ttf') format("truetype");
  src: url('./assets/fonts/inconsolata/Inconsolata-VariableFont_wdth,wght.ttf') format("truetype-variations");
  font-weight: 400;
}

@font-face {
  font-family: 'Inconsolta';
  src: url('./assets/fonts/inconsolata/static/Inconsolata-Bold.ttf') format("truetype");
  src: url('./assets/fonts/inconsolata/Inconsolata-VariableFont_wdth,wght.ttf') format("truetype-variations");
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/inter/static/Inter-Regular.ttf') format("truetype");
  src: url('./assets/fonts/inter/Inter-VariableFont_slnt,wght.ttf') format("truetype-variations");
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/inter/static/Inter-Bold.ttf') format("truetype");
  src: url('./assets/fonts/inter/Inter-VariableFont_slnt,wght.ttf') format("truetype-variations");
  font-weight: 700;
}

@font-face {
  font-family: 'Lora';
  src: url('./assets/fonts/lora/static/Lora-Regular.ttf') format("truetype");
  src: url('./assets/fonts/lora/Lora-VariableFont_wght.ttf') format("truetype-variations");
  font-weight: 400;
}

@font-face {
  font-family: 'Lora';
  src: url('./assets/fonts/lora/static/Lora-Bold.ttf') format("truetype");
  src: url('./assets/fonts/lora/Lora-VariableFont_wght.ttf') format("truetype-variations");
  font-weight: 700;
}

@font-face {
  font-family: 'Lora';
  src: url('./assets/fonts/lora/static/Lora-BoldItalic.ttf') format("truetype");
  src: url('./assets/fonts/lora/Lora-Italic-VariableFont_wght.ttf') format("truetype-variations");
  font-weight: 700;
  font-style: italic;
}

:root {
  --clr-purple: rgb(164, 69, 237);
  --clr-red: rgb(255, 82, 82);
  --clr-white: rgb(255, 255, 255);
  --clr-grey-200: rgb(244, 244, 244);
  --clr-grey-300: rgb(233, 233, 233);
  --clr-grey-400: rgb(151, 151, 151);
  --clr-grey-500: rgb(117, 117, 117);
  --clr-black: rgb(5, 5, 5);
  --clr-dark-800: rgb(31, 31, 31);
  --clr-dark-700: rgb(45, 45, 45);
  --clr-dark-600: rgb(58, 58, 58);

  --clr-background: var(--clr-white);
  --clr-text: var(--clr-black);
  --clr-input-background: var(--clr-grey-300);
  --clr-input-text: var(--clr-dark-700);

  --ff-sans-serif: 'Inter';
  --ff-serif: 'Lora';
  --ff-mono: 'Inconsolta';
}

.dark-mode {
  --clr-text: var(--clr-white);
  --clr-background: var(--clr-black);
  --clr-input-background: var(--clr-dark-800);
  --clr-input-text: var(--clr-white);
}

.font-sans-serif {
  font-family: var(--ff-sans-serif);
}

.font-serif {
  font-family: var(--ff-serif);
}

.font-mono {
  font-family: var(--ff-mono);
}

* {
  margin: 0;
  box-sizing: border-box;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

body {
  min-height: 100vh;
  
  color: var(--clr-text);
  background-color: var(--clr-background);
}

.flex {
  display: flex;
  align-items: center;
}

button {
  border: 0;
  outline: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

ul {
  list-style-type: none;
}
